services:
  - type: web
    name: deenisekkh
    env: node
    buildCommand: npm install && npm run build
    startCommand: serve -s build
    envVars:
      - key: NODE_VERSION
        value: 18.17.0
    staticPublishPath: ./build
    routes:
      - type: rewrite
        source: /*
        destination: /index.html